{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
    "CosmosConnection:accountEndpoint": "",
    "CosmosConnection:credential": "managedidentity",
    "AzureOpenAIOptions:Endpoint": "",
    "CognitiveSearchOptions:Endpoint": "",
    "CognitiveSearchOptions:IndexName": "azure"
  }
}